asgiref==3.6.0  # Sesuai dengan Django 3.2, jika perlu versi lebih baru, bisa pilih yang lebih tinggi
Django==3.2  # Django 3.2 LTS
djangorestframework==3.14.0  # Versi yang kompatibel dengan Django 3.2
mysqlclient==2.2.0  # Versi yang kompatibel dengan Django 3.2
pillow==10.2.0  # Versi yang aman dan kompatibel dengan Django 3.2
sqlparse==0.5.3  # Tidak ada masalah untuk digunakan
typing_extensions==4.5.0  # Versi ini sudah lebih aman
tzdata==2024.1  # Versi terbaru aman digunakan
